<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Study</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p v-if="loading">Fetching data...</p>
      <ol v-else>
        <li v-for="p in projects">
          <a :href="projectLiveUrl(p)" target="_blank">{{p.name}}</a>
        </li>
      </ol>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          loading: true,
          projects: [],
        },
        created() {
          fetch("https://api.github.com/repos/xuchunyang/vue-study/contents/")
            .then((res) => res.json())
            .then((files) => {
              this.projects = files.filter((file) => file.type === "dir");
              this.loading = false;
            });
        },
        methods: {
          projectLiveUrl(p) {
            return `https://xuchunyang.github.io/vue-study/${p.name}`;
          },
        },
      });
    </script>
  </body>
</html>
