<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MELPA clone using Vue</title>
    <script src="https://unpkg.com/vue"></script>
    <!-- 输入完，有个固定延迟，体验不好 -->
    <script src="https://unpkg.com/lodash"></script>
    <style>
      #app {
        line-height: 1.6;
        max-width: 1000px;
        margin: 0 auto;
      }

      input[type="search"] {
        font-size: inherit;
        display: block;
        width: 100%;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p v-if="loading">Loading...</p>
      <template v-else>
        <p>
          Current List of {{packages.length}} Packages {{totalDownloads}}
          downloads to date
        </p>
        <input
          type="search"
          v-model.trim="query"
          placeholder="Enter filter terms"
        />
        <p>{{matches.length}} matching package(s)</p>
        <!-- TODO: 分页如何操作？ -->
        <table>
          <thead>
            <tr>
              <th>Package</th>
              <th>Description</th>
              <th>Version</th>
              <th>DLs</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="p in matches">
              <td>{{p.name}}</td>
              <td>{{p.desc}}</td>
              <td>{{p.version}}</td>
              <td>{{p.downloads}}</td>
            </tr>
          </tbody>
        </table>
      </template>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          loading: false,
          packages: [],
          matches: [],
          query: "",
        },
        computed: {
          totalDownloads() {
            return this.packages.reduce((sum, p) => (sum += p.downloads), 0);
          },
        },
        methods: {
          search() {
            if (this.query === "") {
              this.matches = this.packages;
              return;
            }

            this.matches = this.packages.filter(
              (p) => p.name.includes(this.query) || p.desc.includes(this.query)
            );
          },
        },
        watch: {
          query(newQuery, oldQuery) {
            this.debouncedSearch();
          },
        },
        created() {
          this.loading = true;
          fetch(
            "https://study-1258907199.cos.ap-nanjing.myqcloud.com/melpa.json"
          )
            .then((res) => res.json())
            .then((results) => {
              this.packages = results.map((arrPkg) => {
                const [name, version, desc, downloads] = arrPkg;
                return { name, version, desc, downloads };
              });
              this.search();
              this.loading = false;

              this.debouncedSearch = _.debounce(this.search, 100);
            });
        },
      });
    </script>
  </body>
</html>
