<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Router Dynamic</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <style>
      .router-link-active {
        color: crimson;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>动态匹配路由</h1>

      <router-link to="/foo">Go to Foo</router-link>
      <router-link to="/bar">Go to Bar</router-link>
      <router-link v-for="i in 10" :to="'/user/' + i" :key="i">
        User {{ i }}
      </router-link>

      <hr />
      <div>
        <label
          >Upcase message:
          <input type="text" @keyup.enter="upcase" v-model="msg"
        /></label>
      </div>

      <router-view></router-view>
    </div>
    <script>
      const Foo = { template: "<div>Foo</div>" };
      const Bar = { template: "<div>Bar</div>" };
      const User = {
        template: `<div> User {{ $route.params.id }} </div>`,
        created() {
          console.log(this.$route);
          console.log("User component created for " + this.$route.params.id);
        },
        watch: {
          $route(to, from) {
            console.log(`route changed: ${from.path} => ${to.path}`);
          },
        },
      };
      const NotFound = {
        template: "<div>404 Not found for {{ $route.params.pathMatch }}</div>",
      };
      const Upcase = {
        template: "<div>{{ $route.params.msg.toUpperCase() }}</div>",
      };

      const routes = [
        { path: "/foo", component: Foo },
        { path: "/bar", component: Bar },
        { path: "/user/:id", component: User },
        { path: "/upcase/:msg", component: Upcase },
        { path: "*", component: NotFound },
      ];

      const router = new VueRouter({
        routes,
      });

      const vm = new Vue({
        router,
        data: {
          msg: "",
        },
        watch: {
          msg(to, from) {
            this.upcase();
          },
        },
        methods: {
          upcase() {
            this.$router.push("/upcase/" + this.msg);
          },
        },
      }).$mount("#app");
    </script>
  </body>
</html>
