<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unsplash - 随机图片</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
      body {
        text-align: center;
        margin: 0;
        position: relative;
      }

      .change-size-wrapper {
        position: absolute;
        top: 0;
        right: 0;
      }

      img {
        display: block;
        margin: 0 auto;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- <h1>Unsplash - 随机图片</h1> -->
      <div
        class="loading"
        v-if="loading"
        v-loading="loading"
        element-loading-text="下载图片中"
      ></div>
      <div v-else>
        <unsplash-image :json="json"></unsplash-image>
      </div>
    </div>
    <script>
      // tood: 这 2 个组件，这么组织不好
      Vue.component("unsplash-image-sizes", {
        props: ["urls", "initialType"],
        methods: {
          onChange() {
            console.log("onChange", this, arguments);
            $emit("changeSize", $event.target.value);
          },
        },
        template: `
            <div class="change-size-wrapper">
              <!-- <label for="sizes">Change image size:</label> -->
              <select id="sizes" @change="$emit('change-size', $event.target.value)">
                  <option v-for="(url, typ) in urls" :value="url" :selected="initialType === typ"> {{typ}} </option>
              </select>
            </div>`,
      });
      Vue.component("unsplash-image", {
        props: ["json"],
        data() {
          const src = this.json.urls.regular;
          const alt = this.json.alt_description;
          const img = { src, alt };

          const html = this.json.links.html;

          return { img, html };
        },
        methods: {
          onChangeSize(url) {
            console.log("onChangeSize:", url);
            this.img.src = url;
          },
        },
        template: `<div>
            <div><unsplash-image-sizes @change-size="onChangeSize" :urls="json.urls" :initial-type="'regular'"> </unsplash-image-sizes></div>
            <div><a :href="html"><img :src="img.src" :alt="img.alt"></img></a></div>
            </div>`,
      });
      const vm = new Vue({
        el: "#app",
        data: {
          loading: true,
          json: null,
        },
        methods: {
          setResults(json) {
            this.json = json;
            this.loading = false;
          },
        },
        created() {
          fetch(
            "https://api.unsplash.com/photos/random?client_id=w84Usx097OcVja5QA5NhEcvv9t8l5LZlKex5yjN8Ues"
          )
            .then((resp) => resp.json())
            .then(this.setResults);
        },
      });
    </script>
  </body>
</html>
